<section id="charvars" class="char-vars">
	<div class="hr">Character Variants</div>
	<ol class="narrow">
		<%_ for(const group of cvData) { _%>
			<li>
				<div class="desc-group <%= group.ligatureSampler ? 'ligature' : 'char' %>">
					<%_ if(group.ligatureSampler) { _%>
						<%_ for(const text of group.descSampleText) { _%>
							<div class="sample"><%= text %></div>
						<%_ } _%>
					<%_ } else { _%>
						<div class="sample"><%= group.descSampleText[0] %></div>
					<%_ } _%>
					<div class="triangle">▹</div>
				</div>
				<ol class="group">
			<%_ for(const config of group.configs) if(config.tag) { _%>
				<li class="desc-group <%= group.ligatureSampler || config.slopeHetero ? 'ligature' : 'char' %>">
					<div class="label tag"><%= config.tag || config.tagItalic %></div>
					<%_ if(group.ligatureSampler) { _%>
						<%_ for(const text of group.descSampleText) { _%>
							<div class="sample" style="font-feature-settings:'<%= config.tag %>'"><%= text %></div>
						<%_ } _%>
					<%_ } else if(config.slopeHetero) { _%>
						<div class="sample" style="font-feature-settings:'<%= config.tag %>'"><%= group.descSampleText[0] %></div>
						<div class="sample italic" style="font-feature-settings:'<%= config.tag %>'"><%= group.descSampleText[0] %></div>
					<%_ } else { _%>
						<div class="sample" style="font-feature-settings:'<%= config.tag %>'"><%= group.descSampleText[0] %></div>
					<%_ } _%>
				</li>
			<%_ } _%>
			</ol></li>
		<%_ } _%>
	</ol>
</section>
