<section id="charvars" class="char-vars">
	<ol class="narrow">
		<%_ for(const group of primes) if(group.tag) { _%>
			<li>
				<ol class="group header">
					<div class="desc-group <%= group.ligatureSampler ? 'ligature' : 'char' %>">
						<div class="label tag"><%= group.tag %></div>
						<%_ if(group.ligatureSampler) { _%>
							<%_ for(const text of group.descSampleText) { _%>
								<div class="sample"><%= text %></div>
							<%_ } _%>
						<%_ } else { _%>
							<div class="sample"><%= group.descSampleText[0] %></div>
						<%_ } _%>
					</div>
				</ol>
				<div class="triangle">▹</div>
				<ol class="group">
			<%_ for(const config of group.variants) if(config.rank) { _%>
				<li class="desc-group <%= group.ligatureSampler || group.slopeDependent ? 'ligature' : 'char' %>">
					<div class="label tag"><%= config.rank %></div>
					<%_ if(group.ligatureSampler) { _%>
						<%_ for(const text of group.descSampleText) { _%>
							<div class="sample" style="font-feature-settings:'<%= group.tag %>' <%= config.rank %>"><%= text %></div>
						<%_ } _%>
					<%_ } else if(group.slopeDependent) { _%>
						<div class="sample" style="font-feature-settings:'<%= group.tag %>' <%= config.rank %>"><%= group.descSampleText[0] %></div>
						<div class="sample italic" style="font-feature-settings:'<%= group.tag %>' <%= config.rank %>"><%= group.descSampleText[0] %></div>
					<%_ } else { _%>
						<div class="sample" style="font-feature-settings:'<%= group.tag %>' <%= config.rank %>"><%= group.descSampleText[0] %></div>
					<%_ } _%>
				</li>
			<%_ } _%>
			</ol></li>
		<%_ } _%>
	</ol>
</section>
