<section id="ligations">
	<table>
		<thead><tr class="first"><th>Feature Tag</th><th>Description</th></tr></thead>
		<tbody>
			<%_ for(const group of ligation.sets) { _%>
			<%_     const tagSet = new Set(group.ligSets); _%>
			<%_     const featureSettings = group.tag === 'calt' ? `style="font-feature-settings:'${group.tag}' ${group.switch||'on'}"` : `style="font-feature-settings: 'calt' off, '${group.tag}' ${group.switch||'on'}"` _%>
				<tr class="note">
					<td><%= group.tagName || group.tag %><%= group.switch ? ' ' + group.switch : ''%></td>
					<td><%= group.desc %></td>
				</tr>
				<tr>
					<td colspan="2" <%- featureSettings -%>>
						<%_ for(const line of ligation.samples) { _%>
						<pre><%_ for(let i =  0; i < line.length; i++) { _%>
							<%_     const item = line[i]; _%>
							<%_     if(i > 0) { _%><%= " " %><%_ } _%>
							<%_     if (tagSet.has(item.tags[1]) || tagSet.has(item.tags[2])) { _%><em class="rank-2"><%= item.s %></em><%_ _%>
							<%_     } else if (tagSet.has(item.tags[0])) { _%><em class="rank-1"><%= item.s %></em><%_ _%>
							<%_     } else { _%><s><%= item.s %></s><%_ } _%>
							<%_ } _%></pre>
						<%_ } _%>
					</td>
				</tr>
			<%_ } _%>
		</tbody>
	</table>
</section>