<section id="stylesets" class="style-sets">
	<div class="hr">Stylistic Sets</div>
	<ol class="wide">
		<%_ for(const gr of ssData) { _%>
			<li>
				<span class="tag"><%= gr.tag %></span><span class="description"><%= gr.description %></span>
				<span class="sample" style="font-feature-settings:'<%= gr.tag %>'"><%- buildSsHtml(`@real fox.quick(h){ *is_brown && it_jumps_over(dogs.lazy) } 0123456789 ABCKRWXYZ`, gr.hotCharSetUpright) -%></span>
				<span class="sample italic" style="font-feature-settings:'<%= gr.tag %>'"><%- buildSsHtml(`@real fox.quick(h){ *is_brown && it_jumps_over(dogs.lazy) } 0123456789 ABCKRWXYZ`, gr.hotCharSetItalic) -%></span>
			</li>
		<%_ } _%>
	</ol>
</section>