<section id="charvars" class="opentype char-vars">
	<div class="hr">Character Variants</div>
	<ol class="narrow">
		<%_ for(const group of cvData) { _%>
			<li><ol class="group">
			<%_ for(const config of group.configs) { _%>
				<li>
					<span class="tag"><%= config.tag || config.tagItalic %></span>
					<%_ if(group.ligatureSampler) { _%>
						<%_ for(const text of group.descSampleText) { _%>
							<span class="sample" style="font-feature-settings:'<%= config.tag %>'"><%= text %></span>
						<%_ } _%>
					<%_ } else { _%>
						<%_ if(config.tag) { _%>
							<span class="sample" style="font-feature-settings:'<%= config.tag %>'"><%= group.descSampleText[0] %></span>
							<span class="sample italic" style="font-feature-settings:'<%= config.tag %>'"><%= group.descSampleText[0] %></span>
						<%_ } else if(config.tagItalic) { _%>
							<span class="sample italic" style="font-feature-settings:'<%= config.tagItalic %>'"><%= group.descSampleText[0] %></span>
						<%_ } _%>
					<%_ } _%>
				</li>
			<%_ } _%>
			</ol></li>
		<%_ } _%>
	</ol>
</section>
