<section id="stylesets" class="opentype">
	<div class="hr">Stylistic Sets</div>
	<ol class="wide">
		<%_ for(const gr of ssData) { _%>
			<li>
				<span class="tag"><%= gr.tag %></span><span class="description"><%= gr.description %></span>
				<span class="sample" style="font-feature-settings:'<%= gr.tag %>'"><%- gr.bodyUpright -%></span>
				<span class="sample italic" style="font-feature-settings:'<%= gr.tag %>'"><%- gr.bodyItalic -%></span>
			</li>
		<%_ } _%>
	</ol>
</section>