<!DOCTYPE html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="index.css"></link>
</head>
<body>
<h1>This page is used for taking snapshots of Iosevka only.</h1>

<%- include('./partial/previews.ejs'); -%>
<%- include('./partial/languages.ejs'); -%>
<%- include('./partial/weights.ejs'); -%>
<%- include('./partial/cv-sample.ejs'); -%>
<%- include('./partial/ss-sample.ejs'); -%>
<%- include('./partial/ligation.ejs'); -%>
<%- include('./partial/matrix.ejs'); -%>
<%- include('./partial/packaging-sampler.ejs'); -%>

<script src="index.js"></script>
</body>